<div id="footer">
  <div class="container">
    <a href="mailto:dmca@fratword.com?subject=[Report DMCA or Bad Link] {{dmcaLink}}">Report a DMCA Takedown notice or bad link</a> - <a href="/terms.html">Terms and Conditions</a>
  </div>
</div>
